.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main{
  display: grid;
  grid-template-columns: 2fr 3fr;

}

.message-summary{
  display: flex;
  border: solid black;
  flex-flow: column nowrap;
  justify-content: flex-start;
  grid-column: 1/2;
}

.reading-pane{
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  background-color: grey;
  grid-column: 2 / 3;
  grid-row-start: 1;
  grid-row-end: -1;
}

.reading-pane .message-summary{
  border: none;
}

.new-message form{
  background-color: rgb(178, 221, 235);
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
}

#message-to-send{
  margin: 10px;
  min-height: 200px;
  min-width: 400px;
}

#to-field{
  margin-right: 5px;
}

#subject-field{
  min-width: 450px;
}